* {
  background-color: #493f42;
}

h1 {
  color: #F8BBD0;
  font-family: 'MonteCarlo', cursive;
  text-align: center;
  font-size: 100px;
}

h2 {
  color: #f8e5ef;
}

p {
  text-align: justify;
  font-family: 'Source Sans 3', sans-serif;
  color: #f8e5ef;
}

nav {
  background-color: #FCE4EC;
  color: white;
}
